# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# OS specific files
.DS_Store
Thumbs.db

# Private keys
*.p8
*.pem
*.key

# IDE files
.idea/
.vscode/
*.swp